.header {
    &__menu {
        position: absolute;
        display: flex;
        padding-top: 20px;
        z-index: 10;
        &-fixed {
            position: fixed;
            background-color: #404040;
            -webkit-box-shadow: 0px 0px 14px 22px rgba(64,64,64,1);
            -moz-box-shadow: 0px 0px 14px 22px rgba(64,64,64,1);
            box-shadow: 0px 0px 14px 22px rgba(64,64,64,1);
        }
    }
    &__item:first-child {
        transition: 1s all;
        &:hover {
            transform: scale3d(1.1, 1.1, 1.1);
            transition: 1s all;
        }
    }
    &__item:nth-child(2) {
        margin-left: 170px;
        :hover {
            border-bottom: 5px solid #11749e;
            transition: 0.3s all;
            }
    }
    &__item:nth-child(3), 
    &__item:nth-child(4), 
    &__item:nth-child(5), 
    &__item:nth-child(6), 
    &__item:nth-child(7) {
        margin-left: 48px;
        :hover {
            border-bottom: 5px solid #11749e;
            transition: 0.3s all;
            }
    }
    &__item:nth-child(7) {
        margin-right: 38px;
    }
    &__item:nth-child(8) {
        display: flex;
        align-items: center;
    }
    &__item {
        list-style-type: none;
        height: 80px;
        position: relative;
        vertical-align: middle;
        a {
            display: flex;
            align-items: center;
            height: 80px;
            text-decoration: none;
            color: #ffffff;
            font-family: "Roboto";
            font-size: 20px;
            font-weight: 400;
        }
    }
   &__icons {
       display: flex;
       align-items: center;
       &-li {
        list-style-type: none;
        margin: 0 20px 0 10px;
        i {
            color: #f5f5f5;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: -1px;
            cursor: pointer;
        }
       }
       &-li:nth-child(4) {
           margin-right: 0;
       }
   }
}