.phone {
    background: url(../img/phone_bg.png) center (center/cover) no-repeat;
    &__row {
        display: flex;

    }
    &__item {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #ffffff;
        font-family: Roboto;
    }
    &__phone {
        padding: 90px 0 90px 0;
        width: 50%;
        display: flex;
        justify-content: center;
    }
    &__title {
        font-size: 25px;
        font-weight: 500;
        line-height: 36px;
        text-transform: uppercase;
    }
    &__text {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 35px;
        width: 470px;
    }
    &__descr {
        margin: 60px 0 10px 0;
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        width: 370px;
        height: 38px;
        background-color: #11749e;
        display: flex;
        align-items: center;
        padding-left: 15px;
        &-second {
            width: 400px;
            margin: 10px 0 10px 0;
        }
        &-third {
            width: 428px;
            margin: 10px 0 10px 0;
        }
    }
}